africa-pulse-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "africa-pulse-adf"
		},
		"ls_africapulse_adls_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'ls_africapulse_adls'"
		},
		"ls_africapulse_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://africapulse.dfs.core.windows.net/"
		},
		"ls_africapulse_adls_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "0985c912-df08-4035-8371-ffd388b05cd1"
		},
		"ls_africapulse_adls_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "147d87b6-f030-4d1c-80c5-489d560fb4b2"
		},
		"ls_worldbank_http_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.worldbank.org/v2/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_africapulse_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_africapulse_adls_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_africapulse_adls_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_africapulse_adls_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('ls_africapulse_adls_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_worldbank_http')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_worldbank_http_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_africapulse_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"indicator": {
						"type": "string"
					},
					"load_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "raw_@{dataset().indicator}_@{dataset().load_date}.json",
							"type": "Expression"
						},
						"folderPath": {
							"value": "bronze/world_bank/@{dataset().indicator}/@{dataset().load_date}",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "africa-economic-pulse",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_africapulse_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_worldbank_http",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"indicator": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "country/all/indicator/@{dataset().indicator}?format=json&per_page=1000&mrv=20",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_worldbank_http')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_worldbank_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "data_ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_africapulse_adls",
										"type": "LinkedServiceReference"
									}
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_worldbank_json",
								"type": "DatasetReference",
								"parameters": {
									"indicator": {
										"value": "@pipeline().parameters.indicator",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_json",
								"type": "DatasetReference",
								"parameters": {
									"indicator": "@pipeline().parameters.indicator",
									"load_date": {
										"value": "@pipeline().parameters.load_date",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"indicator": {
						"type": "string"
					},
					"load_date": {
						"type": "string",
						"defaultValue": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_worldbank_json')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_json')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_africapulse_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_ingest_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('indicators')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "pl_ingest_worldbank_bronze",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ingest_worldbank_bronze",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"indicator": {
												"value": "@item()",
												"type": "Expression"
											},
											"load_date": {
												"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "indicators",
							"value": [
								"NY.GDP.MKTP.CD",
								"FP.CPI.TOTL.ZG",
								"SL.UEM.TOTL.ZS"
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"indicators": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_worldbank_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_daily_worldbank')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_ingest_bronze",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-07-12T00:00:00",
						"timeZone": "W. Central Africa Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_master_ingest_bronze')]"
			]
		}
	]
}